.container {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 150px;

    img {
        width: 40vw;
        height: 60vh;
        margin-right: 60px;
        margin-left: 60px;
    }

    .info {
        width: 25vw;
        margin-right: 60px;

        h2 {
            color: #555;
            font-family: 'Courier New', Courier, monospace;
            text-shadow: 2px 2px 2px #c4bdbd;
            letter-spacing: 2px;
            margin-top: 10px;
        }

        p {
            color: #888;
            font-family: Georgia, 'Times New Roman', Times, serif;
            margin-bottom: 30px;
            width: 400px;
            margin-top: 25px;
        }

        .more {
            font-size: 14px;
            font-weight: 500;
            color: #a38f8f;
            text-decoration: none;
            cursor: pointer;
        }

        .more:hover {
            font-size: 14px;
            font-weight: 500;
            color: #999;
            text-decoration: none;
            cursor: pointer;
        }
    }
}