.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;

    .printable,
    .resin,
    .finished {
        width: 23%;
        height: 250px;
        margin: 0 19px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;

        h2 {
            color: #501515;
            text-align: center;
            margin-top: 5px;
        }

        .link {
            color: black;
            margin-bottom: 15px;
            margin-left: 10px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            color: #023567;
        }
    }

    .printable {
        background-image: url('../Images/printable.jpg');
        background-size: cover;
        background-size: 110%;
        transition: 1s all ease-in-out;
    }

    .resin {
        background-image: url('../Images/resin.jpg');
        background-size: cover;
        background-size: 100%;
        transition: 1s all ease-in-out;

    }

    .finished {
        background-image: url('../Images/finished.jpg');
        background-size: cover;
        background-position: center;
        background-size: 150%;
        transition: 1s all ease-in-out;
    }

    .printable:hover {
        background-size: 120%;
    }

    .resin:hover {
        background-size: 110%;
    }

    .finished:hover {
        background-size: 170%;
    }
}