.container {
    display: flex;
    align-items: center;
    justify-content: center;

    .carousel {
        width: 11%;
        height: 100px;
        margin: 0 12px;

        .img {
            height: 200px;
        }
    }
}